.sharif{
    display: none;
}
.zoomImg{
    width: 800px !important;
    height: 900px !important;
    max-width: none!important;
    max-height: none!important;
    background-color: white;
}

.logoutlog{
    display: none;
}

#sharifcat:hover{
    color: #FFF!important;
    background-color: #336699 !important;
}

.prev:hover{
    background-color: #336699 !important;
    color: #FFF!important;
    border-radius: 20px!important;
}
.next:hover{
    background-color: #336699 !important;
    color: #FFF!important;
    border-radius: 20px;
}

.said-icon a:hover{
    color: #eee!important;
}